In [1]:
import pandas as pd
import numpy as np

In [45]:
df = pd.read_excel(r"C:\Users\User\Downloads\Clean.xlsx")

In [46]:
df.head()

,Unnamed: 0,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,0,1,5.1,3.5,1.4,0,Iris-setosa
1,1,2,4.9,3.0,1.4,0,Iris-setosa
2,2,3,NaN,3.2,1.3,0,Iris-setosa
3,3,4,4.6,3.1,1.5,0,Iris-setosa
4,4,5,5.0,3.6,1.4,0,Iris-setosa

In [47]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [48]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4             0  Iris-setosa
1   2            4.9           3.0            1.4             0  Iris-setosa
2   3            NaN           3.2            1.3             0  Iris-setosa
3   4            4.6           3.1            1.5             0  Iris-setosa
4   5            5.0           3.6            1.4             0  Iris-setosa

In [22]:
df.isna().sum()

Unnamed: 0       0
Id               0
SepalLengthCm    4
SepalWidthCm     4
PetalLengthCm    3
PetalWidthCm     0
Species          5
dtype: int64

### Filling Missing Values

In [23]:
df['SepalLengthCm'].fillna(df['SepalLengthCm'].mean(),inplace=True)

In [24]:
df['SepalWidthCm'].fillna(df['SepalWidthCm'].mean(),inplace=True)

In [25]:
df['PetalLengthCm'].fillna(df['PetalLengthCm'].mean(),inplace=True)

In [26]:
df['Species'].fillna(df['Species'].mode()[0],inplace=True)

In [27]:
df.isna().sum()

Unnamed: 0       0
Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

### Outliers

In [30]:
Q1 = df['SepalLengthCm'].quantile(0.25)
Q3 = df['SepalLengthCm'].quantile(0.75)
IQR = Q3-Q1
lower = Q1-(1.5*IQR)
upper = Q3+(1.5*IQR)
print(lower)
print(upper)

3.1874999999999996
8.4875

In [31]:
Q1 = df['SepalWidthCm'].quantile(0.25)
Q3 = df['SepalWidthCm'].quantile(0.75)
IQR = Q3-Q1
lower = Q1-(1.5*IQR)
upper = Q3+(1.5*IQR)
print(lower)
print(upper)

2.05
4.05

In [32]:
Q1 = df['PetalLengthCm'].quantile(0.25)
Q3 = df['PetalLengthCm'].quantile(0.75)
IQR = Q3-Q1
lower = Q1-(1.5*IQR)
upper = Q3+(1.5*IQR)
print(lower)
print(upper)

-3.649999999999999
10.349999999999998

In [33]:
Q1 = df['PetalWidthCm'].quantile(0.25)
Q3 = df['PetalWidthCm'].quantile(0.75)
IQR = Q3-Q1
lower = Q1-(1.5*IQR)
upper = Q3+(1.5*IQR)
print(lower)
print(upper)

-1.5
2.5

### Replacing outliers

In [36]:
condition = (df['SepalLengthCm'] < 3.18) | (df['SepalLengthCm'] > 8.4) 
new = np.where(condition,5,df['SepalLengthCm'])

In [39]:
condition = (df['SepalWidthCm'] < 0) | (df['SepalWidthCm'] > 10.3) 
new = np.where(condition,7,df['SepalWidthCm'])

In [40]:
condition = (df['PetalWidthCm'] < 0) | (df['PetalWidthCm'] > 2.5) 
new = np.where(condition,2,df['PetalWidthCm'])

### Duplicate values

#### Detect the duplicate values

In [50]:
df.duplicated().sum()

0

In [51]:
df.drop('Id',axis=1,inplace=True)

In [52]:
df.duplicated().sum()

18

In [55]:
df[df.duplicated()]    #this are duplicated values

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm          Species
17             5.1           3.5            1.4             0      Iris-setosa
34             4.9           3.1            1.5             0      Iris-setosa
37             4.9           3.1            1.5             0      Iris-setosa
42             NaN           3.2            1.3             0      Iris-setosa
45             4.8           3.0            1.4             0      Iris-setosa
132            6.4           2.8            5.6             2   Iris-virginica
142            5.8           2.7            5.1             1   Iris-virginica
144            6.7           3.3            5.7             2   Iris-virginica
150            6.1           2.9            4.7             1  Iris-versicolor
151            5.6           2.9            3.6             1  Iris-versicolor
152            6.7           3.1            4.4             1  Iris-versicolor
153            5.6           3.0            4.5             1  Iris-versicolor
154            5.7           2.6            3.5             1  Iris-versicolor
155            5.5           2.4            3.8             1  Iris-versicolor
156            5.4           3.9            1.7             0      Iris-setosa
157            4.6           3.4            1.4             0      Iris-setosa
158            6.4           3.2            5.3             2   Iris-virginica
159            6.5           3.0            5.5             1   Iris-virginica

#### Removing duplicated value

In [56]:
df.drop_duplicates(keep = 'first',inplace=True)

In [57]:
df.duplicated().sum()

0

### Type Casting

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 142 entries, 0 to 149
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  139 non-null    float64
 1   SepalWidthCm   138 non-null    float64
 2   PetalLengthCm  139 non-null    float64
 3   PetalWidthCm   142 non-null    int64
 4   Species        137 non-null    object
dtypes: float64(3), int64(1), object(1)
memory usage: 6.7+ KB

In [61]:
df['SepalLengthCm'] = df['SepalLengthCm'].astype('float16')
df['SepalWidthCm'] = df['SepalWidthCm'].astype('float16')
df['PetalLengthCm'] = df['PetalLengthCm'].astype('float16')
df['PetalWidthCm'] = df['PetalWidthCm'].astype('float16')

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 142 entries, 0 to 149
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  139 non-null    float16
 1   SepalWidthCm   138 non-null    float16
 2   PetalLengthCm  139 non-null    float16
 3   PetalWidthCm   142 non-null    float16
 4   Species        137 non-null    object
dtypes: float16(4), object(1)
memory usage: 3.3+ KB