**pandas Series**
* Create pandas series with different data types in different ways
* Find the attributes of Series of [10,30,40,1,3,6,14,18,23] with index starts from 100
* create salaries of 30 employee salaries randomly from 30000-90000 then measure and describe the data using pandas series.
* What are the similaraties and differences between pandas series and nnumpy array.Prove it with code.
* create pandas series with ranges from 100 to 150 then apply indexing and slicing on it.

**Create pandas series with different data types in different ways**

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
list1 = list(range(10,25))

In [4]:
pd.Series(list1)

0     10
1     11
2     12
3     13
4     14
5     15
6     16
7     17
8     18
9     19
10    20
11    21
12    22
13    23
14    24
dtype: int64

In [5]:
tuple1 = ("I","am","Data Science","at","Innomatics","Research","Labs","Hyderabad")

In [6]:
pd.Series(tuple1)

0               I
1              am
2    Data Science
3              at
4      Innomatics
5        Research
6            Labs
7       Hyderabad
dtype: object

In [7]:
dict1 = {"A":"Adnan","B":"Raheem","C":"Umair","D":"Nabeel","E":"Satish","F":"Mansoor"}

In [8]:
pd.Series(dict1)

A      Adnan
B     Raheem
C      Umair
D     Nabeel
E     Satish
F    Mansoor
dtype: object

In [10]:
arr1 = np.arange(1,15)

In [11]:
pd.Series(arr1)

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
dtype: int32

**Find the attributes of Series of [10,30,40,1,3,6,14,18,23] with index starts from 100**

In [15]:
ser = [10,30,40,1,3,6,14,18,23]
n = len(ser)
ser = pd.Series(ser,index = list(range(100,100+n)))
ser

100    10
101    30
102    40
103     1
104     3
105     6
106    14
107    18
108    23
dtype: int64

In [17]:
ser.info()

<class 'pandas.core.series.Series'>
Index: 9 entries, 100 to 108
Series name: None
Non-Null Count  Dtype
--------------  -----
9 non-null      int64
dtypes: int64(1)
memory usage: 144.0 bytes

In [18]:
ser.tail()

104     3
105     6
106    14
107    18
108    23
dtype: int64

In [21]:
ser.head(3)[101]

30

In [22]:
ser.memory_usage()

144

In [23]:
ser.describe()

count     9.000000
mean     16.111111
std      13.033078
min       1.000000
25%       6.000000
50%      14.000000
75%      23.000000
max      40.000000
dtype: float64

**create salaries of 30 employee salaries randomly from 30000-90000 then measure and describe the data using pandas series.**

In [24]:
salary = np.random.randint(30000,90000,30)

In [25]:
salary

array([56395, 34074, 37789, 46279, 61521, 66396, 40801, 38050, 60246,
       35011, 60230, 51578, 34792, 78747, 47149, 53279, 73500, 52518,
       78306, 88557, 35481, 86830, 64226, 46746, 42694, 41701, 51848,
       79987, 88462, 38100])

In [32]:
sal = pd.Series(salary,index = list(range(1,31)))
sal

1     56395
2     34074
3     37789
4     46279
5     61521
6     66396
7     40801
8     38050
9     60246
10    35011
11    60230
12    51578
13    34792
14    78747
15    47149
16    53279
17    73500
18    52518
19    78306
20    88557
21    35481
22    86830
23    64226
24    46746
25    42694
26    41701
27    51848
28    79987
29    88462
30    38100
dtype: int32

In [33]:
sal.mean()     #Mean

55709.76666666667

In [34]:
sal.median()      #Median

52183.0

In [35]:
sal.mode()   #becz there is no repeted value

0     34074
1     34792
2     35011
3     35481
4     37789
5     38050
6     38100
7     40801
8     41701
9     42694
10    46279
11    46746
12    47149
13    51578
14    51848
15    52518
16    53279
17    56395
18    60230
19    60246
20    61521
21    64226
22    66396
23    73500
24    78306
25    78747
26    79987
27    86830
28    88462
29    88557
dtype: int32

In [43]:
sal.max()     #Maximum salary

88557

In [44]:
sal.min()       #Minimum salary

34074

In [45]:
sal.quantile(0.25)   #25% salary

41026.0

In [46]:
sal.quantile(0.5)     #50% salary

52183.0

In [42]:
sal.quantile(0.75)        #75% salary

65853.5

In [47]:
sal.var()              #variance

306699307.28850573

In [49]:
sal.std()             #Standard deviation

17512.832646048602

In [36]:
sal.describe()

count       30.000000
mean     55709.766667
std      17512.832646
min      34074.000000
25%      41026.000000
50%      52183.000000
75%      65853.500000
max      88557.000000
dtype: float64

**What are the similaraties and differences between pandas series and nnumpy array.Prove it with code.**

* 1. Pandas has index numbers order, Numpy doesnt have Index number order.**
* 2. Pandas is heterogenous and Numpy is Homogeneous.**
* 3. Pandas has data type 'Object' because it is heterogeneous, Numpy is homogeneous hence it considered text as U6(6 characters)**
* 4. Pandas Series is 1 Dimensional, Numpy is 'n' dimensional.**

In [50]:
tuple1 = ("I","am","Data Science","at","Innomatics","Research","Labs","Hyderabad")
pd.Series(tuple1)

0               I
1              am
2    Data Science
3              at
4      Innomatics
5        Research
6            Labs
7       Hyderabad
dtype: object

In [51]:
np.array([10,20,30,40,50,60,70,80,90])

array([10, 20, 30, 40, 50, 60, 70, 80, 90])

In [55]:
pandas = ("Hello","world",100,20,300)
pand = pd.Series(pandas)     #Pandas is heterogenous allow different values
pand

0    Hello
1    world
2      100
3       20
4      300
dtype: object

In [56]:
type(pand)

pandas.core.series.Series

In [70]:
pand.ndim           #Pandas is 1 diamensinonal

1

In [67]:
numpy = np.array(["Hello",10,20,25551,5151,5151581851,515151],ndmin = 3)
numpy

array([[['Hello', '10', '20', '25551', '5151', '5151581851', '515151']]],
      dtype='<U21')

In [68]:
type(numpy)

numpy.ndarray

In [71]:
numpy.ndim               #Numpy can be n diamensinal

3

**create pandas series with ranges from 100 to 150 then apply indexing and slicing on it.**

In [74]:
pand = pd.Series(list(range(100,150)))
pand

0     100
1     101
2     102
3     103
4     104
5     105
6     106
7     107
8     108
9     109
10    110
11    111
12    112
13    113
14    114
15    115
16    116
17    117
18    118
19    119
20    120
21    121
22    122
23    123
24    124
25    125
26    126
27    127
28    128
29    129
30    130
31    131
32    132
33    133
34    134
35    135
36    136
37    137
38    138
39    139
40    140
41    141
42    142
43    143
44    144
45    145
46    146
47    147
48    148
49    149
dtype: int64

In [78]:
new = pd.Series(pand,index = list(range(1,50)))
new

1     101
2     102
3     103
4     104
5     105
6     106
7     107
8     108
9     109
10    110
11    111
12    112
13    113
14    114
15    115
16    116
17    117
18    118
19    119
20    120
21    121
22    122
23    123
24    124
25    125
26    126
27    127
28    128
29    129
30    130
31    131
32    132
33    133
34    134
35    135
36    136
37    137
38    138
39    139
40    140
41    141
42    142
43    143
44    144
45    145
46    146
47    147
48    148
49    149
dtype: int64

In [93]:
new[10]     #Indexing

110

In [91]:
new[15]      #Indexing

115

In [92]:
new[49]         #Indexing

149

In [94]:
new[10:21:1]       #Slicing

11    111
12    112
13    113
14    114
15    115
16    116
17    117
18    118
19    119
20    120
21    121
dtype: int64

In [95]:
new[:10:2]         #Slicing

1    101
3    103
5    105
7    107
9    109
dtype: int64