**File handling + Time module**


Create a Python script that simulates a simple login system. The script should prompt the user to enter their username and password. If the entered username and password match the predefined credentials, the script should log a successful login event to a log file. If the credentials do not match, it should log a failed login attempt to the log file.
Example Output
Assuming the predefined credentials are `username: "user123"` and `password: "pass123"`, here's an example output of the script:

Create any 5 of following modules

a.	Restaurant   

b.	IPL

c.	Mathematics

d.	Data Science  

e.	India

f.	Shopping mall

g.	Amazon_price   


Do some research  while creating them

In [1]:
import time as t

In [2]:
print(("-"*15),("Welcome to my Log in system"),("-"*15))
log_id = input("Choose a username:: ")
passs = input("Choose a password:: ")
user1 = input("Enter your username:: ")
user2 = input("Enter your Password:: ")
if (user1 == log_id) and (user2 == passs):
    print("Login successful for user123 :",t.asctime())
else:
    print("login Failed for user :",t.asctime())

print(("-"*15),("ThankYou for using my Log in system"),("-"*15))

--------------- Welcome to my Log in system ---------------
Choose a username:: adnan123
Choose a password:: pass123
Enter your username:: adnan123
Enter your Password:: pass123
Login successful for user123 : Fri Sep 29 08:03:23 2023
--------------- ThankYou for using my Log in system ---------------

## 1. Mathematics Module for (+ , - , * , / , ** )

In [3]:
import mathematics as math

In [4]:
math.addition(20,30)

50

In [5]:
math.subtraction(50,20)

30

In [6]:
math.multiplication(20,5)

100

In [7]:
math.power(20,3)

8000

In [8]:
math.division(20,4)

5.0

## 2. IPL Module

In [9]:
import ipl

In [10]:
ipl.ground()

Eden Garden Stadium Kolkata
Wankhede Stadium Mumbai
Naredra modi Stadium Ahmedabad
Chinaswami Stadium Banglore
Rajiv Gandhi Stadium Hyderabad
Chidambaram Stadium Chennai

In [11]:
ipl.team()

Royal Challengers Banglore
Kolkata Knight Riders
Mumbai Indians
Sunrises Hyderabad
Chennai Super King
Rajhastan Royals
Panjab Kings
Luknow Super Giants
Gujrat Titans

In [12]:
ipl.win()

Chennai Super Kings won 4 times in 2010,2011,2018,2021,2023
Kolkata Knight Riders won 2 time in 2012,2014
Gujrat Titans won 1 time in 2022
Sunrises Hyderabad wonn 1 time in 2016
Mumbai Indians won 5 times in 2013,2015,2017,2019,2020
Rajhastan Royals won 1 time in 2008

## 3. Data Science Module

In [13]:
import datascience as ds

In [14]:
ds.job_profile()

Data scientist
Machine Learning Engineer
Data Engineer
NLP Engineer
DL Engineer
Data Anlyst
Buisness Intelligence
Ai Engineer

In [15]:
ds.skill()

Python programming Language
Statistics
Visualization
Machine learning
Algorithm
Deep learning
NLP

In [16]:
ds.programming_language()

Python Programming Language
R programming Language

In [17]:
ds.branches()

Data processing
Data Visualization
Data Mining
Statistical Modeling
Artificial Intelligence
Machine Learning
Deep learning
NLP
Pattern Recognition
Data Research

## 4. India Module

In [18]:
import india as ind

In [19]:
ind.capital()

Capital of India is New Delhi

In [20]:
ind.food()

Hydearabadi Biriyani
Daal Chawal
Dalcha
Dosa Idli
Vada Pav
Litti choka
Panjabi Lassi
Kheer
Barfi

In [21]:
ind.games()

Cricket
Kabaddi
Football
Volleyball
BasketBall
Hockey

In [22]:
ind.states()

Telangana State
Maharashtra State
Andhra Pradesh
Madhya Pradesh
Karnataka
Tamil Nadu
Goa
Himachal pradesh
Panjab
Uttar Pradesh

In [23]:
ind.tourist_place()

New Delhi
Hyderabad
Mumbai
Banglore
Goa
Jaipur
Shimla
Manali
Chennai
Chikhaldara

## 5. Restaurant Module

In [24]:
import restaurant as res

In [25]:
res.menu()

Hyderabadi Dum Briyani
Chicken 65 Briyani
Mutton Briyani
CHicken Mandi
Mutton Mandi
Chicken Tangdi Kebab
Butter Chicken
Chicken Masala
Chicken Ghamandi
Chicken Tikka
Tandoori Roti
Rumali Roti
nan pav
appricot delight sweet
Khubani sweet

In [26]:
res.location()

Banjara Hills
Hitech City
kukatpally
Secundrabad
Nampally
Charminar

In [27]:
res.seating()

Non AC seating
AC seating
premium Seating
Delux Seating
Banquet Hall

In [28]:
res.speciality()

Hyderabadi Dum Briyani
Mutton Briyani
Chicken Ghamandi
Khubani sweet