* 1.creating dict and gives names fruits and prices?
* 2.what are the fruits available in the basket
* 3.write a progrm if i purchase 3apple 2 orange
* 4.add fruit+"fruit" for every dict
* 5.find the avg of fruits
* 6.which fruit is containig less than 5 character

In [2]:
fruits = {"apple":40,"orange":40,"kiwi":20}      #1 ques

In [4]:
for i in fruits:
    print("Avalable fruits : " +i)               #2 ques

Avalable fruits : apple
Avalable fruits : orange
Avalable fruits : kiwi

In [35]:
app = fruits["apple"]*3                           #3 ques
org = fruits["orange"]*2
print(app+org)

200

In [36]:
for i in fruits :                                 #4 ques
    print(i+" fruits")

apple fruits
orange fruits
kiwi fruits

In [37]:
fruits

{'apple': 40, 'orange': 40, 'kiwi': 20}

In [38]:
val = fruits.values()                              #5 ques
avg = sum(val)/len(val)
print(avg)

33.333333333333336

In [39]:
if i in fruits:                                     #6 ques
    if (len(i)<5):
        print(i)

kiwi

In [41]:
fruits = ("apple","mango","banana","kiwi","guava")
price = (50,40,30,60,30)
bascket = dict(zip(fruits,price))
print(bascket)

{'apple': 50, 'mango': 40, 'banana': 30, 'kiwi': 60, 'guava': 30}

In [42]:
for i in bascket :
    print("fruits available in bascket is " +i)

fruits available in bascket is apple
fruits available in bascket is mango
fruits available in bascket is banana
fruits available in bascket is kiwi
fruits available in bascket is guava

In [49]:
for i in fruits :
    print(i)
app3 = bascket.get("apple")*3
org2 = bascket.get("mango")*2
prices = app3+org2
print("prices of 3 apple and 2 mango is:  ",prices)

apple
mango
banana
kiwi
guava
prices of 3 apple and 2 mango is:   230

In [52]:
for i in bascket:
    print(i+" Fruit")

apple Fruit
mango Fruit
banana Fruit
kiwi Fruit
guava Fruit

In [55]:
for i in bascket:
    print(i)
summ = bascket.values()
lenn = len(bascket)
average = sum(summ)/lenn
print("The average of all fruits is ",average)

apple
mango
banana
kiwi
guava
The average of all fruits is  42.0

In [57]:
for i in bascket:
    if(len(i)<5):
        print(i)

kiwi