
1. 

   - Create a lambda function that takes two arguments and returns their sum.
   - Create another lambda function that takes a single argument and returns its square.
   - Use the `lambda` functions to calculate the sum and square of various numbers and print the results.

2. 
   - Define a list of integers.
   - Use the `filter` function to create a new list that contains only the even numbers from the original list.
   - Use the `filter` function again to create a new list that contains only numbers greater than 10 from the original list.
   - Print both filtered lists.

3. 
   - Define a list of strings where each string represents a number (e.g., `["1", "2", "3"]`).
   - Use the `map` function to convert each string to an integer and store the result in a new list.
   - Use the `map` function again to square each integer in the new list and store the result in another new list.
   - Print both new lists.

4. 
   - Create a list of dictionaries, where each dictionary represents a person with keys "name" and "age". Example: ` [{"name": "Alice", "age": 30}, {"name": "Bob", "age": 25}, ...]`
   - Use the `filter` function to create a new list that contains only the people who are older than 25.
   - Use the `map` function to create a new list that contains the names of the filtered people.
   - Print the list of names.

5. 
   - Create a program that reads a list of numbers from the user (you can use the `input` function for this).
   - Use `map` and `filter` functions to perform the following operations:
     - Square each number.
     - Filter out numbers that are not divisible by 3.
   - Print the result.

1. 

   - Create a lambda function that takes two arguments and returns their sum.

In [1]:
a = lambda x,y: x+y

In [3]:
a(5,7)

12

- Create another lambda function that takes a single argument and returns its square.

In [10]:
sq = lambda n: n**2
sq(int(input("Enter a number : ")))

Enter a number : 5

25

- Use the `lambda` functions to calculate the sum and square of various numbers and print the results.

In [5]:
b = lambda *n: sum(n)
b(2,4,6,8)

20

In [21]:
c = lambda n: n**2
c(9)

81

2. 
   - Define a list of integers.
   - Use the `filter` function to create a new list that contains only the even numbers from the original list.
   - Use the `filter` function again to create a new list that contains only numbers greater than 10 from the original list.
   - Print both filtered lists.

In [44]:
def integ(val):
    if val % 2 == 0:
        return val
val = [1,2,3,4,5,6,7,8,9,10,12,11]
even = list(filter(integ,val))   
even

[2, 4, 6, 8, 10, 12]

In [45]:
def integ(val):
    if val > 10:
        return val
val = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,]
more_than_10 = list(filter(integ,val))
more_than_10

[11, 12, 13, 14, 15, 16]

3. 
   - Define a list of strings where each string represents a number (e.g., `["1", "2", "3"]`).
   - Use the `map` function to convert each string to an integer and store the result in a new list.
   - Use the `map` function again to square each integer in the new list and store the result in another new list.
   - Print both new lists.

In [23]:
def name(n):
    if val == int(n):
        return n
val = ['2','3','4','5','6','7','8']
new = list(map(int,val))
new

[2, 3, 4, 5, 6, 7, 8]

In [24]:
new

[2, 3, 4, 5, 6, 7, 8]

In [26]:
def name(n):
    return n**2
square = list(map(name,val))
square

[4, 9, 16, 25, 36, 49, 64]

4. 
   - Create a list of dictionaries, where each dictionary represents a person with keys "name" and "age". Example: ` [{"name": "Alice", "age": 30}, {"name": "Bob", "age": 25}, ...]`
   - Use the `filter` function to create a new list that contains only the people who are older than 25.
   - Use the `map` function to create a new list that contains the names of the filtered people.
   - Print the list of names.

In [38]:

    
dictt = [{"Name":"Adnan","Age":21},{"Name":"Raheem","Age":28},{"Name":"Satish","Age":20},{"Name":"Mansoor","Age":29}]

In [49]:
def name(n):
    if n["Age"] > 25 :
        return n
dictt = [{"Name":"Adnan","Age":21},{"Name":"Raheem","Age":28},{"Name":"Satish","Age":20},{"Name":"Mansoor","Age":29}]
new_name = list(filter(name,dictt)) 
new_name

[{'Name': 'Raheem', 'Age': 28}, {'Name': 'Mansoor', 'Age': 29}]

In [51]:
def names(n):
    return {"Name" : n["Name"]}
list(map(names,new_name))

[{'Name': 'Raheem'}, {'Name': 'Mansoor'}]

* **Class task**
    * take combination of int floats string, print only float, print only int
    * replace int values with "Integer"
    * replace str with "String"
    * replace float value with" float"

In [62]:
def comb(n):
    if type(n) == int:
        return n
n = [1,2,3,4,5.5,6.2,4.6,"hello","innomatics","labs"]
list(filter(comb,n))

[1, 2, 3, 4]

In [63]:
def comb(n):
    if type(n) == float:
        return n
n = [1,2,3,4,5.5,6.2,4.6,"hello","innomatics","labs"]
list(filter(comb,n))

[5.5, 6.2, 4.6]

In [64]:
def comb(n):
    if type(n) == str:
        return n
n = [1,2,3,4,5.5,6.2,4.6,"hello","innomatics","labs"]
list(filter(comb,n))

['hello', 'innomatics', 'labs']

In [65]:
def comb(n):
    if type(n) == int:
        return "Integer"
    elif type(n) == float:
        return "Float"
    else:
        return "String"
n = [1,2,3,4,5.5,6.2,4.6,"hello","innomatics","labs"]
list(map(comb,n))

['Integer',
 'Integer',
 'Integer',
 'Integer',
 'Float',
 'Float',
 'Float',
 'String',
 'String',
 'String']