Task 1: `Counting Numbers`
    
    write a program that prints the numbers from 1 to 10, each on a new line.


Task 2: `Even Numbers`

    write a program that prints the even numbers from 1 to 20, each on a new line.


Task 3: `Square Numbers`

    Write a program that calculates and prints the square of each number from 1 to 5.


Task 4: `Multiples of Three`

    write a program that prints the multiples of 3 from 3 to 30, each on a new line.

Task 5: `Reverse Counting`

    Write a program that prints the numbers from 10 to 1 in descending order, each on a new line.

### Solutions

Task 1: `Counting Numbers`
    
    write a program that prints the numbers from 1 to 10, each on a new line.

In [2]:
for i in range(1,11):               #using for loop
    print(i)

1
2
3
4
5
6
7
8
9
10

In [3]:
a = 1                               #using while loop
while a<=10:
    print(a)
    a = a+1

1
2
3
4
5
6
7
8
9
10

Task 2: `Even Numbers`

    write a program that prints the even numbers from 1 to 20, each on a new line.

In [6]:
for i in range(1,21):                 #using for loop
    if(i%2==0):
        print(i)

2
4
6
8
10
12
14
16
18
20

In [1]:
a = 2                                  #using while loop
while a<=20:
    print(a)
    a = a + 2

2
4
6
8
10
12
14
16
18
20

Task 3: `Square Numbers`

    Write a program that calculates and prints the square of each number from 1 to 5.

In [5]:
for i in range(1,6):                   #using for loop
    print(i**2)

1
4
9
16
25

In [3]:
a = 1                                   #using while loop
while a<=5:
    print(a**2)
    a = a+1

1
4
9
16
25

Task 4: `Multiples of Three`

    write a program that prints the multiples of 3 from 3 to 30, each on a new line.

In [4]:
for i in range(3,31):                       #using for loop
    if i%3==0:
        print(i)

3
6
9
12
15
18
21
24
27
30

In [6]:
a = 3                                       #using while loop
while a<=30:
    print(a)
    a = a+3

3
6
9
12
15
18
21
24
27
30

Task 5: `Reverse Counting`

    Write a program that prints the numbers from 10 to 1 in descending order, each on a new line.

In [10]:
for i in range(10,0,-1):              #using for loop
    print(i)

10
9
8
7
6
5
4
3
2
1

In [11]:
a = 10                               #using while loop
while a>=1:
    print(a)
    a = a-1

10
9
8
7
6
5
4
3
2
1